.profile {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
  }
  
  .profile__sidebar {
    width: 340px;
  }
  
  .profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .profile__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile__name {
    font-size: 24px;
    font-weight: 500;
   line-height: 1;
   margin: 0;
  }
  
  .profile__edit-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .profile__logout {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .profile__clothes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .profile__clothes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .profile__title {
    font-size: 20px;
    font-weight: 700;
  }
  
  .profile__add-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .profile__cards {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }