.card {
 width: 323px;   
 position: relative;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 gap: 16px;
 flex-wrap: wrap;
}

.card__name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;  
  margin: 0;
  border-radius: 4px;
  height: 24px;
  background: #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding: 8;
}

.card__image {
   width: 100%; 
  border-radius: 16px;
  border: 1px solid #0000004D;
}

.card__like-button {
  width: 20px;
  height: 18px;
  background: url("../../../src/assets/heartlikebtn.svg") center/contain no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.card__like-button_active {
  background: url("../../assets/likebtnactive.svg") center/contain no-repeat;
}

.card__name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}