.card {
 width: 323px;   
 position: relative;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 gap: 16px;
 flex-wrap: wrap;
 overflow: hidden;
}

.card__name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;  
  margin: 0;
  border-radius: 4px;
  height: 24px;
  background: #ffffff;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding: 8;
}

.card__image {
   width: 100%; 
  border-radius: 16px;
  border: 1px solid #0000004D;
  height: 323px;
  object-fit: cover;
}

.card__like-button {
  width: 20px;
  height: 20px;
  background: url("../../../src/assets/heartlikebtn.svg") center/contain no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
background-color: transparent;
}

.card__like-button_active {
  background: url("../../assets/likebtnactive.svg") center/contain no-repeat;
}

.card__name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__header {
  position: absolute;
  top: 8px;               /* distance from top of card */
  left: 50%;
  transform: translateX(-50%);  /* center horizontally */

  display: flex;
  align-items: center;
  gap: 4px;

  padding: 2px 10px;
  border-radius: 999px;   /* rounded pill like Figma */
  background-color: #ffffff;
}