.page {
background-color: #fff;  
font-family: 'Cabinet Grotesk', Arial, sans-serif;  
}

.page__content {
 max-width: 1360px; 
 margin: 0 auto;  
}

.profile-page {
  display: flex; 
  row-gap: 20px; 
}

