.clothes-section__items {
    display: flex;
    flex-wrap: wrap;  
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    gap: 32px; 
    width: 100%;
   }

   .clothes-section__header {
    display: flex;
    padding-left: 30px;
    gap: 30px;
    border: none;
   }

   .clothes-add__btn {
    border: none;
    background: none;
    color: #00000099;
   }

   .clothes-section {
    margin-top: 20px;
    padding: 0 40px;
   }
   
  